.menu {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    position:sticky;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    padding: 2px;
    margin-bottom: 1px;
    font-weight: 500;
    transition: background 0.3s ease;
  }
  
  .menu a:hover {
    border-radius: 1px;
    border-bottom: solid 2px darkblue ;
    color:darkblue;
  }
 